<% block = view(:block).new() %>

  <div class="action-bar">
    <div class="action-group-left">
      <h1 class="admin-section-title">Action Bar</h1>
    </div>
    <div class="action-group-left">
      <div class="arranger">
        <div class="arrange-voice">Filter by</div>
        <div class="dropdown">
          <div class="active-voice"><span class="voice-text">All</span> <span class="drop-icon"></span></div>
          <div class="the-drop">
            <ul>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="action-group-right">
      <form action="" class="search-bar rounded">
        <input type="text" placeholder="Search..." class="search-field">
        <button type="submit" class="search-button">O-</button>
      </form>
    </div>
    <div class="action-group-right">
      <a href="" class="lato-button action-button">Action</a>
    </div>
  </div>

  <div class="content-row">

    <%= raw block.open(width: 'half') %>
      <h2 class="content-block-title">Typography</h2>
      <h1>Hello</h1>
      <h2>Hello</h2>
      <h3>Hello</h3>
      <h4>Hello</h4>
      <h5>Hello</h5>
      <h6>Hello</h6>
      <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. Officia necessitatibus cupiditate ut neque itaque ullam reiciendis ipsum qui, fugit, atque molestias. Et <strong>ullam illo consectetur</strong> rem repudiandae necessitatibus minima provident corporis natus nobis, fugit qui eos fuga facilis quia cum autem ex atque assumenda libero sed iste saepe nisi. Fuga, ut fugiat odio itaque odit necessitatibus explicabo rem incidunt hic illum, quaerat, distinctio, ratione dolore.</p>
      <ul>
        <li>Unordered List</li>
        <li>Unordered List</li>
        <li>Unordered List</li>
      </ul>
      <ol>
        <li>Ordered List</li>
        <li>Ordered List</li>
        <li>Ordered List</li>
      </ol>
     <!--  <form action="/file-upload" class="dropzone">
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form> -->

    <%= raw block.close %>

    <%= raw block.open(width: 'half') %>
      <h2 class="form-title">Example form</h2>
      <form action="" class="lato-form">
        <div class="form-group">
          <div class="form-control">
            <label class="form-label">Informazione</label>
            <input type="text" class="input">
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half">
            <label class="form-label">Nome</label>
            <input type="text" class="input">
          </div>
          <div class="form-control half" data-control="email">
            <label class="form-label">Email</label>
            <input type="text" class="input input-email email-suggestion">
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half" data-input="required">
            <label class="form-label">Date</label>
            <input type="text" class="input date-picker">
            <div class="input-error-message"></div>
          </div>
          <div class="form-control half" data-control="number">
            <label class="form-label">Number</label>
            <input type="text" class="input input-number">
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half">
            <label class="form-label">Selectize</label>
            <select class="select" name="" id="">
              <option value="yes">Voto si</option>
              <option value="no">Voto no</option>
            </select>
          </div>
          <div class="form-control half">
            <label class="form-label">Selectize Multiplo</label>
            <select class="select" multiple name="" id="">
              <option value="yoppa">Voto yoppa</option>
              <option value="no">Voto no</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half" data-input="radio">
            <label class="form-label">Checkbox e Radio</label>
            <div class="form-block">
              <input type="checkbox" class="check" name="cb" id="cb1"><label class="label-control" for="cb1">Check and uncheck this</label>
            </div>
            <div class="form-block">
              <input type="checkbox" class="check" disabled="disabled" name="cb" id="cb2">
              <label class="label-control" for="cb2">Disabled man</label>
            </div>
            <div class="form-block">
              <input type="radio" class="radio" name="rd" id="rd1">
              <label class="label-control" for="rd1">Click this</label>
            </div>
            <div class="form-block">
              <input type="radio" class="radio" disabled="disabled" name="rd" id="rd2">
              <label class="label-control" for="rd2">Disabled man</label>
            </div>
            <div class="input-error-message"></div>
          </div>
          <div class="form-control half" data-input="required">
            <label class="form-label">Textarea</label>
            <textarea class="textarea" name="" id=""></textarea>
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half">
            <label class="form-label">Password</label>
            <input type="password" class="input input-password">
            <button class="password-reveal"></button>
          </div>
          <div class="form-control half">
            <label class="form-label">Input <span class="form-advise">(max 5 caratteri)</span></label>
            <input type="password" class="input input-length">
            <div class="input-error-message"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control half">
            <label class="form-label">Upload File</label>
            <input type="file" name="file" id="file" class="input-file" data-multiple-caption="{count} files selected" multiple />
            <label for="file">
              <div class="upload-icon"><%= put_svg('upload') %></div>
              <span>Choose a file</span>
            </label>
          </div>
        </div>
        <div class="form-group text-right">
          <div class="form-control">
            <input type="submit" class="lato-button">
          </div>
        </div>
      </form>
    <%= raw block.close %>
  </div>

  <div class="action-bar">
    <div class="action-group-left">
      <h2 class="admin-section-title">Action Bar</h2>
    </div>
    <div class="action-group-right">
      <div class="button-group group-medium">
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
      </div>
    </div>
  </div>

  <div class="content-row">
    <%= raw block.open() %>
      <h2 class="content-block-title">Button</h2>
      <a href="" class="lato-button">
        <div class="button-icon"><%= put_svg('upload') %></div>
        <span>Icona</span>
      </a>
      <a href="" class="lato-button button-small button-yellow">
        <div class="button-icon"><%= put_svg('upload') %></div>
        <span>Icona</span>
      </a>
      <a href="" class="lato-button button-green">Green</a>
      <a href="" class="lato-button button-medium button-red">Red</a>
      <button class="lato-button" disabled>Disabled</button>
      <a href="" class="lato-button button-line">Line</a>
      <h2 class="content-block-title">Button Group</h2>
      <div class="button-group">
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
        <a href="" class="group-button">Group</a>
      </div>
    <%= raw block.close %>
  </div>
<%= raw block.close %>
