<header class="main-navigation-header">
    <div class="nav-logo">
      <% put_svg('latologo') %>
    </div>
    <div class="nav-account-area">
      <div class="nav-account-img">
        <span>Immagine Utente</span>
      </div>
      <span class="nav-account-username"><%= core_getCurrentUser.name %></span>
      <ul class="nav-account-dropdown">
        <li>
          <a href="<%= lato_core.exec_logout_path %>" data-method="delete" class="logout"><span class="dropdown-icon"><%= put_svg('power') %></span>Logout</a>
        </li>
      </ul>
    </div>
    <div class="nav-actions">
      <a href="" class="nav-action">
        <span></span>
        <%= put_svg('info') %>
      </a>
      <a href="" class="nav-action">
        <span></span>
        <%= put_svg('web') %>
      </a>
    </div>
</header>
