<% voices = core_getNavbarItems.sort_by { |hsh| hsh[:position] } %>
<div class="main-navigation-sidebar">
  <% if(logo = core_getApplicationLogo) %>
    <a href="" class="sidebar-logo"><%=raw logo %></a>
  <% else %>
    <a href="" class="sidebar-logo  lato-logo"><%= put_svg('latologo') %></a>
  <% end %>
  <nav class="sidebar-nav">
    <ul class="sidebar-list">
      <% voices.each do |voice| %>
        <% if(!voice[:permission] or ( voice[:permission] and core_getCurrentUser.permission >= voice[:permission])) %>
          <li class="sidebar-list-item <% if(@view_navbar_unique_name and @view_navbar_unique_name === voice[:unique_name]) %>active<% end %>">
            <a class="sidebar-main-link" href="<%= voice[:url] %>"><span class="sidebar-item-icon"><%= put_svg(voice[:icon]) %></span><%= voice[:name] %></a>
          </li>
        <% end %>
      <% end %>

      <!--<li class="sidebar-list-item has-child">
        <a class="sidebar-main-link" href=""><span class="sidebar-item-icon">Icon</span>Link</a>
        <ul>
          <li><a href="">Sub-link</a></li>
          <li><a href="">Sub-link</a></li>
        </ul>
      </li>-->
    </ul>
  </nav>
</div>
