<div class="form-hidden-messages">
  <div class="number-hidden-message"><%= VIEW_LANG['form_validation']['number'] %></div>
  <div class="required-hidden-message"><%= VIEW_LANG['form_validation']['required'] %></div>
  <div class="email-hidden-message"><%= VIEW_LANG['form_validation']['email'] %></div>
  <div class="char-hidden-message"><%= VIEW_LANG['form_validation']['char'] %></div>
  <div class="pass-same-hidden-message"><%= VIEW_LANG['form_validation']['pass_same'] %></div>
  <div class="check-hidden-message"><%= VIEW_LANG['form_validation']['check'] %></div>
</div>