<div class="form-control <%= @width %>" <%= required_data_input %>>

  <label class="form-label"><%= @label %></label>

  <% # The point on class is used to have space between select_class and custom_class when select is render %>
  <select class="<%= @select_class %> . <%= @custom_class %>" name="<%= @name %>" placeholder="<%= @placeholder %>" <%= multiple_data_input %>>

    <% if(@option_blank) %>
      <option></option>
    <% end %>
    <% @options.each do |option| %>
      <option value="<%= option[:value] %>" <%= selected_value(option) %>>
        <%= option[:name]%>
      </option>
    <% end %>

  </select>

  <div class="input-error-message"></div>

</div>
