<div class="form-control <%= @width %>" <%= required_data_input %>>

  <label class="form-label"><%= @label %></label>

  <select class="<%= @custom_class %> select" name="<%= @name %>" placeholder="<%= @placeholder %>" <%= multiple_data_input %>>

    <% if(@option_blank) %>
      <option></option>
    <% end %>
    <% @options.each do |option| %>
      <option value="<%= option[:value] %>" <%= selected_value(option) %>>
        <%= option[:name]%>
      </option>
    <% end %>

  </select>

  <div class="input-error-message"></div>

</div>
