<div class="form-control <%= @width %>" <%= required_data_input %>>

  <label class="form-label"><%= @label %></label>

  <input type="text" class="input time-picker <%= @custom_class %>"
         name="<%= @name %>" placeholder="<%= @placeholder %>"
         value="<%= @value %>" <%= disabled_data_input %>>

  <div class="input-error-message"></div>

</div>
