<div class="form-control <%= @width %>" <%= required_data_input %>>
  <label class="form-label"><%= @label %></label>
  <% if @options.length > 1 %>
    <% @options.each_with_index do |option, index| %>
    	<div class="form-block">
    		<input type="checkbox" class="check <%= @custom_class %>" <%= disabled_data_input %> name="<%= @name %>[<%= option_value(option) %>]" value="<%= option_value(option) %>" id="<%= @name %>-<%= index %>" <%= selected_value(option) %>>
    		<label class="label-control" for="<%= @name %>-<%= index %>"><%= option_name(option) %></label>
    	</div>
    <% end %>
  <% else %>
    <% @options.each do |option| %>
      <div class="form-block">
        <input type="checkbox" class="check <%= @custom_class %>" <%= disabled_data_input %> name="<%= @name %>" value="<%= option_value(option) %>" id="<%= @name %>" <%= selected_value(option) %>>
        <label class="label-control" for="<%= @name %>-<%= index %>"><%= option_name(option) %></label>
      </div>
    <% end %>
  <% end %>
  <div class="input-error-message"></div>
</div>



<!-- CODICE VECCHIO PRE AGGIORNAMENTO
<div class="form-block">
  <input type="checkbox" class="check <%= @custom_class %>" <%= disabled_data_input %> name="<%= @name %>" id="<%= @name %>">
  <label class="label-control" for="<%= @name %>"><%= @label%></label>
</div>
-->
