<div class="form-block">
  <input type="checkbox" class="check <%= @custom_class %>" <%= disabled_data_input %> name="<%= @name %>" id="<%= @name %>">
  <label class="label-control" for="<%= @name %>"><%= @label%></label>
</div>