<div class="form-control <%= @width %>" <%= get_required_data_input %> data-input="check">
	<div class="form-block">
	  <input type="checkbox" class="check <%= @custom_class %>" <%= get_disabled_data_input %> name="<%= @name %>" id="<%= @name %>">
	  <label class="label-control" for="<%= @name %>"><%= @label%></label>
	</div>
	<div class="input-error-message"></div>
</div>