<div class="form-control <%= @width %>" <%= get_required_data_input %>>
  <label class="form-label"><%= @label %></label>
  <input type="file" class="input <%= @custom_class %>" name="<%= @name %>" <%= get_disabled_data_input %> placeholder="<%= @placeholder %>" value="<%= @value %>">
  <div class="input-error-message"></div>
</div>
