<div class="form-control <%= @width %>" data-control="number" <%= get_required_data_input %>>
  <label class="form-label"><%= @label %></label>
  <input type="text" class="input input-number <%= @custom_class %>" <%= get_disabled_data_input %> name="<%= @name %>" placeholder="<%= @placeholder %>" value="<%= @value %>">
  <div class="input-error-message"></div>
</div>
