<div class="form-control <%= @width %>" <%= get_required_data_input %>>
  <label class="form-label"><%= @label %></label>
  <input type="password" class="input input-password <%= @custom_class %>" <%= get_disabled_data_input %> name="<%= @name %>" placeholder="<%= @placeholder %>" value="<%= @value %>">
  <% if @password_visible %>
    <button class="password-reveal"></button>
  <% end %>
  <div class="input-error-message"></div>
</div>
