<div class="form-control <%= @width %>" <%= get_required_data_input %> data-input="check">
		<% @options.each_with_index do |option, index| %>
		<div class="form-block">
			<input type="radio" class="radio <%= @custom_class %>" <%= get_disabled_data_input %> name="<%= @name %>" value="<%= get_option_value(option) %>" id="<%= @name %><%= @name %>-<%= index %>" <%= get_selected_value(option) %>>
			<label class="label-control" for="<%= @name %>-<%= index %>"><%= get_option_name(option) %></label>
		</div>
		<% end %>
	<div class="input-error-message"></div>
</div>
