<div class="form-control <%= @width %>" <%= required_data_input %>>
		<% @options.each_with_index do |option, index| %>
		<div class="form-block">
			<input type="radio" class="radio <%= @custom_class %>" <%= disabled_data_input %> name="<%= @name %>" value="<%= option_value(option) %>" id="<%= @name %>-<%= index %>" <%= selected_value(option) %>>
			<label class="label-control" for="<%= @name %>-<%= index %>"><%= option_name(option) %></label>
		</div>
		<% end %>
</div>

<!-- <div class="input-error-message"></div> deve essere messo o staticamente o con un helper alla fine di TUTTI i radio o checkbox di un field => guarda la pagina di prova di Lato_view per dettagli -->
