<div class="form-control <%= @width %>" <%= required_data_input %>>
  <label class="form-label"><%= @label %></label>
  <select class="select <%= @custom_class %>" name="<%= @name %>" placeholder="<%= @placeholder %>">
    <% if(@option_blank) %>
      <option></option>
    <% end %>
    <% @options.each do |option| %>
      <option value="<%= option_value(option) %>" <%= selected_value(option) %>><%= option_name(option) %></option>
    <% end %>
  </select>
  <div class="input-error-message"></div>
</div>
