<div class="form-control <%= @width %>" <%= get_required_data_input %>>
  <label class="form-label"><%= @label %></label>
  <textarea class="textarea <%= @custom_class %>" name="<%= @name %>" id="" placeholder="<%= @placeholder %>" value="<%= @value %>" <%= get_disabled_data_input %>></textarea>
  <div class="input-error-message"></div>
</div>
