<div class="form-control <%= @width %>" <%= required_data_input %>>
  <label class="form-label"><%= @label %></label>
  <textarea class="textarea <%= @custom_class %>" name="<%= @name %>" id="" placeholder="<%= @placeholder %>" <%= disabled_data_input %>><%= @value %></textarea>
  <div class="input-error-message"></div>
</div>
