<div class="form-control <%= @width %>" data-control="number" <%= required_data_input %>>
  <label class="form-label"><%= @label %></label>
  <input type="number" class="input input-number <%= @custom_class %>" <%= disabled_data_input %> name="<%= @name %>" placeholder="<%= @placeholder %>" value="<%= @value %>">
  <div class="input-error-message"></div>
</div>
