<div class="form-control input-nselect <% @width %>">
	<% @select_inputs.each_with_index do |select_input, index| %>

	<div class="form-control <%= get_select_width(select_input) %>"
		data-api-url="<%= select_input[:api_url] %>" data-value-field="<%= select_input[:value_field] %>"
		data-label-field="<%= select_input[:label_field] %>" data-value-id="<%= index %>">

		<label class="form-label"><%= select_input[:label] %></label>
		<input class="select-nselect" type="text" name="<%= select_input[:name] %>"
		value="<%= select_input[:value] %>">

	</div>

	<% end %>
</div>
