ciao monfo


<% if false %>

<div class="form-control input-nselect <% @width %>">
	<% @select_inputs.each_with_index do |select_input, index| %>

	<div class="form-control <%= get_select_width(select_input) %>"
		data-api-url="<%= select_input[:api_url] %>" data-value-field="<%= select_input[:value_field] %>"
		data-label-field="<%= select_input[:label_field] %>" data-value-id="<%= index %>">

		<label class="form-label"><%= select_input[:label] %></label>
		<input class="select select-nselect" type="text" name="<%= select_input[:name] %>"
		value="<%= select_input[:value] %>">

	</div>

	<% end %>
</div>


<script>

	// TODO: Port it on separated js
	setTimeout(function () {
		var inputNSelects = $('.input-nselect')
		inputNSelects.each(function (index, inputNSelect) {
			manageInputNSelect(inputNSelect)
		})
	}, 1000)

	// Main function for each cell
	var manageInputNSelect = function(inputNSelect) {
		var selectInputs = $(inputNSelect).find('.form-control')

		// init first select
		initSelect(null, 0, selectInputs)
	}

	// Function to init a select with the call of the api
	var initSelect = function (filterId, selectInputPosition, selectInputs) {
		var selectInput = selectInputs[selectInputPosition]
		if (!selectInput) { return }

		var apiUrl = $(selectInput).attr('data-api-url')

		$.ajax({
			url: apiUrl,
			cache: false,
			data: (filterId ? {filter_id: filterId} : null),
			success: function (response) {
				initSelectize(response, selectInputPosition, selectInputs)
			}
		})
	}

	// Function to init a selectize with correct options
	var initSelectize = function (options, selectInputPosition, selectInputs) {
		var selectInput = selectInputs[selectInputPosition]
		var input = $(selectInput).find('.select-nselect')
		var valueField = $(selectInput).attr('data-value-field')
		var labelField = $(selectInput).attr('data-label-field')
		var id = $(selectInput).attr('data-value-id')
		var initialVal = $(input).val()

		var selectize = input.selectize({
			maxItems: 1,
			valueField: valueField,
			labelField: labelField,
			options: options,
			onChange: function (value) {
				initSelect(value, parseInt(id) + 1, selectInputs)
			},
			onInitialize: function() {
				if (initialVal) {
					this.setValue(initialVal)
					initSelect(initialVal, parseInt(id) + 1, selectInputs)
				}
      }
		})
	}

</script>





<%
	n_select = @select_inputs.length
	randoms = []
	labels = []
	names = []
	api_urls = []
	values = []
	value_fields = []
	label_fields = []
	(0..(n_select-1)).each do |i|
		randoms[i] = SecureRandom.hex
		labels[i] = @select_inputs[i][:label]
		names[i] = @select_inputs[i][:name]
		api_urls[i] = @select_inputs[i][:api_url]
		values[i] = @select_inputs[i][:value]
		value_fields[i] = @select_inputs[i][:value_field]
		label_fields[i] = @select_inputs[i][:label_field]
	end
%>

<div class="form-control <% @width %>">
	<div class="form-control" style="min-height: 36px;">
		<% (0..(n_select-1)).each do |i| %>
			<div class="form-control <% if n_select % 3 == 0 %> third <% else %> half <% end %>">
				<label class="form-label"><%= labels[i] %></label>
				<input type="text" id="select_<%=randoms[i]%>" name="<%=names[i]%>" value="<%=values[i]%>">
			</div>
		<% end %>
	</div>
</div>


<script>
	// setTimeout(function() {
	// 	var randoms = []
	// 	var api_urls = []
	// 	var value_fields = []
	// 	var label_fields = []
	// 	var options = []
	// 	var values = []
	// 	var Jselects = []
	// 	var selects = []
	//
	// 	<% (0..(n_select-1)).each do |i|  %>
	// 	randoms[<%=i%>] = "<%= randoms[i] %>"
	// 	api_urls[<%=i%>] = "<%= api_urls[i] %>"
	// 	value_fields[<%=i%>] = "<%= value_fields[i] %>"
	// 	label_fields[<%=i%>] = "<%= label_fields[i] %>"
	// 	values[<%=i%>] = "<%= values[i] %>"
	// 		$.ajax({
	// 		  url: api_urls[<%=i%>],
	// 		  cache: false,
	// 		  <% if i > 0 && values[i-1] %> data: { filter_id: values[<%=i-1%>], },<% end %>
	// 		  success: function (response) {
	// 		  	options[<%=i%>] = response['selectize_data']
	// 		  	console.log( response['selectize_data'] )
	// 		  	<% if i == n_select - 1 %> _startAllSelectizes(); <% end %>
	// 		  }
	// 		});
	// 	<% end %>
	//
	//
	// 	var _startAllSelectizes = function(){
	//
	// 		<% (0..(n_select-1)).each do |i|  %>
	// 		    Jselects[<%=i%>] = $('#select_<%=randoms[i]%>').selectize({
	// 		    	maxItems: 1,
	// 	    	    valueField: value_fields[<%=i%>],
	// 	    	    labelField: label_fields[<%=i%>],
	// 	    	    searchField: label_fields[<%=i%>],
	// 		    	options: options[<%=i%>],
	// 		        onChange: function(value) {
	// 		            if (!value.length) return;
	// 		            <% if i+1 <= n_select-1 %>
	// 			            selects[<%=i+1%>].disable();
	// 			            selects[<%=i+1%>].clearOptions();
	// 			            selects[<%=i+1%>].load(function(callback) {
	// 			                $.ajax({
	// 			                  url: api_urls[<%=i+1%>],
	// 			                  data: {
	// 			                        filter_id: value,
	// 			                  },
	// 			                  cache: false,
	// 			                  success: function (response) {
	// 			                  	console.log('response',response);
	// 			                  	<% if i+1 <= n_select-1 %>
	// 			                  	selects[<%=i+1%>].enable();
	// 			                  	<% end %>
	// 			                  	callback(response['selectize_data']);
	// 			                  }
	// 			              	});
	// 			            });
	// 		            <% end %>
	// 		        },
	// 		    });
	// 		    <% if i > 0 && i <= n_select-1 %>
	// 			    selects[<%=i%>] = Jselects[<%=i%>][0].selectize;
	// 		    	selects[<%=i%>].disable();
	// 		    <% end %>
	// 		<% end %>
	// 	  }
	//
	//
	// }, 500);
</script>

<% end %>
