<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= core_getApplicationName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content=<%= core_getApplicationName %>>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
    <meta name="apple-mobile-web-app-title" content=<%= core_getApplicationName %>>

    <%= stylesheet_link_tag    "lato_view/application", media: "all" %>
    <% # LISTA DEGLI ASSETS CUSTOM %>
    <% custom__lato_assets = view_getLatoAssetsItems %>
    <% custom__app_assets = view_getApplicationsAssetsItems %>
    <% custom__lato_assets.each do |asset| %>
      <% if asset[:type] === "css" %>
        <%= stylesheet_link_tag asset[:name], media: "all" %>
      <% end %>
    <% end %>
    <% custom__app_assets.each do |asset| %>
      <% if asset[:type] === "css" %>
        <%= stylesheet_link_tag "lato/#{asset[:name]}", media: "all" %>
      <% end %>
    <% end %>

    <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="admin-wrapper">
    <% if(core_controlSession()) %>

      <% # Stampa la sidebar del pannello %>
     <%= render 'lato_view/layout/sidebar' %>

      <div class="main-content">

        <% # Stampa l'header del pannello %>
        <%= render 'lato_view/layout/header' %>

        <main>
          <% # Stampa i flash ricevuti dai controller %>
          <%= render 'lato_view/layout/flash' %>
          <div class="content-wrapper">

            <%= yield %>

          </div>
        </main>

      </div>

      <%= render 'lato_view/layout/strings' %>

    <% else %>

        <%= yield %>

    <% end %>
  </div>

  <%= javascript_include_tag "lato_view/application" %>
  <% # LISTA DEGLI ASSETS CUSTOM %>
  <% custom__lato_assets.each do |asset| %>
    <% if asset[:type] === "js" %>
      <%= javascript_include_tag asset[:name] %>
    <% end %>
  <% end %>
  <% custom__app_assets.each do |asset| %>
    <% if asset[:type] === "js" %>
      <%= javascript_include_tag "lato/#{asset[:name]}" %>
    <% end %>
  <% end %>

  </body>
</html>
